<div class="boton">
    <button mat-raised-button color="primary" (click)="openAdd()">Nuevo</button>
</div>

<div>
    <table *ngFor="let dato of lst; let i = index">
        <thead mat-header-row>
            <tr mat-header-cell>
                <th>Nombre Autor</th>
                <th >Fecha Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            <td>{{dato.nombre}}</td>
            <td>{{dato.fechaNacimiento}}</td>
            <tr *ngIf = "dato.lstLibros.length > 0">
                <th>Titulo</th>
                <th>Año Publicacion</th>
                <th>Numero Paginas</th>
                <th>Cantidad Inventario</th>
                <th>Existencia</th>
            </tr>
            <tr *ngIf = "dato.lstLibros.length > 0">
                <td *ngFor="let datolibro of dato.lstLibros; let x = index">{{dato.lstLibros[x].titulo}}</td>
                <td *ngFor="let datolibro of dato.lstLibros; let x = index">{{dato.lstLibros[x].anoPublicacion}}</td>
                <td *ngFor="let datolibro of dato.lstLibros; let x = index">{{dato.lstLibros[x].numeroPaginas}}</td>
                <td *ngFor="let datolibro of dato.lstLibros; let x = index">{{dato.lstLibros[x].cantidadInventario}}</td>
                <td *ngFor="let datolibro of dato.lstLibros; let x = index">{{dato.lstLibros[x].existencia}}</td>
            </tr>
            
        </tbody>
    </table>
</div>

